{
    "kraken": {
        "key": "KRAKEN-KEY",
        "secret": "KRAKEN-SECRET"
    },
    "assets": [
        {
            "name": "Ethereum",
            "symbol": "XETH",
            "pair": "XETHZEUR",
            "min_threshold_volume": 0.02
        },
        {
            "name": "Litecoin",
            "symbol": "XLTC",
            "pair": "XLTCZEUR",
            "min_threshold_volume": 0.1
        }
    ],
    "absolute_asset": {
        "name": "Euro",
        "symbol": "ZEUR"
    },
    "strategy": "shannon"
}