{
    "kraken": {
        "key": "<KRAKEN-KEY>",
        "secret": "<KRAKEN-SECRET>"
    },
    "assets": [
        {
            "name": "Ethereum",
            "symbol": "XETH",
            "pair": "XETHZUSD",
            "min_threshold_percent": 0.1
        }
    ],
    "absolute_asset": {
        "name": "Euro",
        "symbol": "ZUSD"
    },
    "strategy": "shannon",
    "bot": {
        "telegram": {
            "token": "<TELEGRAM-TOKEN>"
        }
    }
}