{
    "kraken": {
        "key": "KRAKEN-KEY",
        "secret": "KRAKEN-SECRET"
    },
    "assets": [
        {
            "name": "Ethereum",
            "symbol": "XETH",
            "pair": "XETHZEUR"

        },
        {
            "name": "Litecoin",
            "symbol": "XLTC",
            "pair": "XLTCZEUR"
        }
    ],
    "absolute_asset": {
        "name": "Euro",
        "symbol": "ZEUR"
    },
    "strategy": "shannon",
    "threshold_percentage": 0.01
}